@model GestioneTerreniAgricoli.Models.Lavoro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lavoro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizioLavoro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizioLavoro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFineLavoro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFineLavoro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLavoro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
