@model GestioneTerreniAgricoli.Models.Terreno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Terreno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipologiaTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipologiaTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localita.FullAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTerreno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
