@model IEnumerable<GestioneTerreniAgricoli.Models.Terreno>

@{
    ViewData["Title"] = "Terreni";
}

<h1>Terreni</h1>

<p>
    <a asp-action="Create">Aggiungi Terreno</a>
</p>

<form asp-controller="Terreno" asp-action="Index">
    <p>
        <select name="searchAttribute" id="searchAttribute">
            <option value="">Tutti</option>
            <option value="NomeTerreno">Nome Terreno</option>
            <option value="TipologiaTerreno">Tipologia Terreno</option>
            <option value="FullAddress">FullAddress</option>
            <option value="Metratura">Metratura</option>
        </select>
        <input type="text" name="searchString" id="searchString" style="display:none;" />
        <span id="decimalFields" style="display:none;">
            Metratura minima: <input type="text" name="minMetratura" />
            Metratura massima: <input type="text" name="maxMetratura" />
        </span>
        <input type="submit" value="Filtra" id="submitButton" />
    </p>
</form>

<script>
    document.getElementById('searchAttribute').addEventListener('change', function () {
        var decimalFields = document.getElementById('decimalFields');
        var searchString = document.getElementById('searchString');

        if (this.value === 'Metratura') {
            decimalFields.style.display = 'inline';
            searchString.style.display = 'none';
        } else if (this.value === '') {
            decimalFields.style.display = 'none';
            searchString.style.display = 'none';
        } else {
            decimalFields.style.display = 'none';
            searchString.style.display = 'inline';
        }
    });
</script>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipologiaTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metratura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipologiaTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metratura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localita.FullAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTerreno">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IdTerreno">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTerreno" class="delete-link">Cancella</a>
            </td>
        </tr>
}
    </tbody>
</table>
